:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}

	html {
		color-scheme: dark;
	}
}

html, body {
	max-width: 100vw;
	overflow-x: hidden;
	min-height: 100vh;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border-radius: 0;
	border-color: white;
}

a {
	color: inherit;
	border-width: 1px;
	border-style: solid;
	border-color: white;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	a {
		border-color: black;
	}
}


a:hover {
	border-color: red;
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
	padding: 2rem;
}

main {
	min-height: 77vh;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0.5rem;
}

select {
	padding-left: 0.25rem;
}

input {
	padding: 0.5rem;
	border-width: 1px;
	border-style: solid;
	border-color: black;
}

@media (prefers-color-scheme: dark) {
	input {
		border-color: white;
	}
}

p {
	line-height: 1.5rem;
}

h1 { font-size: 2rem }
h1 { font-size: 1.5rem }
h1 { font-size: 1rem }