header {
	margin-bottom: 2rem;
	border: 1px solid white;
	padding: 1rem;
}

.header-title {
	font-size: 2rem;
	font-weight: bold;
}

.header-subtitle {
	font-size: 0.75rem;
	color: red;
}

main {
	border: 1px solid white;
	padding: 1rem;
}
